#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-color: rgb(148, 148, 148);
}

a {
  color: black;
}

legend {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

button {
  border-radius: 5px;
  border-color: white;
  border-style: groove;
  border-width: 3px;
  background-color: inherit;
  font-size: 1em;
  font-weight: 900;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:active {
  border-style:inset;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.grey-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.input-colours, .output-colours {
  width: 250px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none; /* Removes the bullet points */
  padding: 0;      /* Removes the default left padding/indentation */
  margin: 0;       /* Removes the default top/bottom margins */
}

.colour-input, .colour-output {
  width: 244px;
  height: 90px;
}

.colour-input {
  display: grid;
  grid-template-areas:
    "picker remove"
    "vals   reorder";
  border-style: groove;
  border-color: white;
  border-radius: 5px;
  border-width: 3px;
  
}

.colour-input button {
  border-style: none;
}

.colour-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: groove;
  border-color: white;
  border-radius: 5px;
  border-width: 3px;
}

.input-picker {
  grid-area: picker;
  padding: 10px;
}

.input-value {
  grid-area: vals;
  margin-top: -20px;
  font-family:'Courier New', Courier, monospace;
}

.input-delete {
  grid-area: remove;
  display: flex;
  align-items: center;
  font-size: xx-large;
  margin-left: -10px;
  margin-top: -7px;
}

.reorder-handle {
  grid-area: reorder;
  cursor: grab;
  user-select: none; /* Prevents text selection while dragging */
  touch-action: none; /* Important for mobile touch */
  position: relative; /* Ensures proper event targeting */
  z-index: 10; /* Makes sure it's above other elements */
  width: 34px;
  margin-left: -10px;
  margin-top: -10px;
  height: 40px;
  color: rgb(49, 49, 49);
}

.reorder-handle:active {
  cursor: grabbing;
}

.reorder-handle p {
  margin-top: 0px;
  font-size: xx-large;
  text-shadow: 1px 1px #a9a9a9;
  font-family:'Courier New', Courier, monospace;
}

.colour-input input {
    width: 200px;
    height: 40px;
    padding: 0 10px;
    border: 5px solid #000000;
    border-radius: 20px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
}

.colour-input input:hover {
  cursor: pointer;
}

.input-button-row {
  width: 100%;
  display: flex;
  justify-content: stretch;
}

.input-button-row button {
  width: 100%;
  height: 35px;
  text-align: center;
  vertical-align: middle;
}

.add-button, .open-text-input-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: x-large;
}

.iterate-button {
  font-size: x-large;
  font-weight: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-input-button, .convert-text-button {
  font-size: medium;
}

.colour-output {
  display: flex;
}

.output-swatch {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin: 10px;
}

.output-hex-row {
  display: flex;
  font-family:'Courier New', Courier, monospace;
}

.output-hex {
  height: 20px;
  margin-top: -4px;
  margin-bottom: 5px;
}

.copy-hex-button {
  margin-left: 10px;
  margin-top: -4px;
}

.colour-input .clr-field button {
  width: 150px;
  height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.trans-column {
  width: 400px;
}

.trans-field {
  align-content: center;
  display: flex;
  justify-content: space-between;
  border-width: 3px;
}

.about-text {
  flex-direction: column;
}

.about-text p {
  text-align: justify;
  font-size: small;
  margin-top: 0px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.trans-row p {
  text-align: left;
}

.input-slider {
  width: 100%;
  color:rgb(241, 241, 241);
}

.inversion-slider {
  margin-top: 6px;
  margin-bottom: -5px;
}

.hue-shift-checkbox, .inversion-checkbox {
  align-content: center;
  padding: 10px;
}

.hue-slider {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding-left: 5px;
  align-items: center;
}

.input-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.input-overlay-content {
  background: rgb(209 209 209);
  padding: 2rem;
  border-radius: 3px;
  min-width: 500px;
  max-width: 500px;
  border-style: double;
  border-width: 3px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.input-overlay-content p {
  text-align:center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:small;
  margin-top: -15px;
  margin-bottom: -5px;
}

.input-overlay-content textarea {
  background: inherit;
  width: 100%;
  margin: 1rem 0;
  padding: 0.75rem;
  border: 1px solid #414141;
  border-radius: 2px;
  font-family:'Courier New', Courier, monospace;
  resize: vertical;
  box-sizing: border-box;
}

textarea:focus {
    outline: inherit;
    border: 1px solid #414141;
}

.input-overlay-buttons {
  display: flex;
  justify-content: center;
}

.input-overlay-buttons button {
  height: 40px;
  width: 100px;
}